@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
}

.rotate {
    animation: roll 1.6s;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate_top {
    animation: roll_top 0.5s;
    animation-fill-mode: forwards;
}

@keyframes roll_top {
    0% {
        transform: rotate(0);
        transform-origin: right;
    }
    100% {
        transform: rotate(15deg);
        transform-origin: right;
    }
}

.bounce2 {
    animation: bounce2 0.8s ease;
    animation-fill-mode: forwards;
}

@keyframes bounce2 {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-4px);
    }
    60% {
        transform: translateY(-2px);
    }
}

.swing {
    animation: swing 0.4s;
    transform-origin: center;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.bounce {
    animation: bounce 0.8s;
    transform-origin: center;
}

@keyframes bounce {
    from,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.1);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -8px, 0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, -2px, 0) scaleY(1.02);
    }
}

.pulse {
    animation: pulse 0.2s;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, -12%, 0);
        visibility: visible;
    }
}

.slideInDown {
    animation: slideInDown .5s;
    animation-fill-mode: forwards;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 12%, 0);
        visibility: visible;
    }
}

.slideInUp {
    animation: slideInUp .5s;
    animation-fill-mode: forwards;
}
